* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #bd2020;
}

a:hover {
  color: #333;
}

.wrapper {
  max-width: 670px;
  margin: 0 auto;
}


/* page-header */

.page-header {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #ccc;
}

.page-header__logo {
  font-size: 1.7rem;
  font-variant: small-caps;
}

.page-header__menu-item {
  float: right;
  margin-top: 11px;
}

/* patchwork */

.patchwork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.patch {
  position: relative;
  padding: 15px;
  font-size: 1.3rem;
  margin-bottom: 9px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 330px;
}

.patch--centered {
  text-align: center;
}

.patch__paragraph {
  margin-bottom: 10px;
}

.patch--small {
  text-align: center;
  width: 217px;
  display: flex;
}

.patch__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #db2020;
  display: block;
  margin: auto;
}

.patch__link:hover {
  color: #333;
}


/* page-title */

.page-title {
  text-align: center;
  font-weight: 400;
  padding: 15px 0 10px 0;
  margin-bottom: 10px;
  font-size: 1.8rem;
  background-color: #fff;
}

.categories-link {
  display: block;
  position: absolute;
  top: 43%;
  left: 29%;
  font-size: 1.7rem;
  text-decoration: none;
  color: #db2020;
  font-variant: small-caps;
}

.categories-link:hover {
  color: #333;
}


/* menu-list */

.menu-list__table {
  width: 100%;
  border-collapse: collapse;
}

.menu-list__table tbody tr:hover {
  background-color: #eee;
}

.menu-list__table thead td {
  padding-bottom: 10px;
  color: #555;
}

.menu-list__table td {
  vertical-align: top;
  padding-bottom: 5px;
}

.menu-list__table td:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-list__table td:nth-child(3) {
  min-width: 50px;
  text-align: right;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.menu-list__table td:nth-child(4) {
  min-width: 50px;
  text-align: right;
  padding-left: 10px;
}

.menu-list__item-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-variant: small-caps;
}

.menu-list__item-short-name {
  font-size: 1.3rem;
  color: #888;
}

.menu-list__item-image {
  border: 1px solid #ccc;
  padding: 5px;
}

.menu-list__category-info {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
}


